#adminName {
    font-size: 25px;

}

#allUsersTitle {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#titelOrder {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 25px;
}

footer {
    background-color: #ecae20;
    padding: 10px;
    text-align: center;
}